<!doctype html>
<html>
	<head>
		<!-- Pixelove 25 March 2015, 0130 HRS -->
		<title>Pixelove</title>
		<link rel="stylesheet" href="./css/pixel.css">
		<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		<script src="./qrcodejs/qrcode.min.js"></script>
	</head>
	<body>
		<form id="nickform">
			<h2><span id="nickmsg">Who are you? o.O</span></h2><br><br>
			<input type="text" id="nick" maxlength="10" autocomplete="off" autofocus />
			<input type="submit" style="display: none" />
		</form>
		<div id="qrcontainer">
			<h2><span id="qrmsg">scan the code</span></h2><br><br>
			<center>
				<div id="qr"></div>
			</center>
		</div>

		<div id="joinchatroom">
			<form id="joinpinform">
				<h2><span id="pinmsg">Enter the pin</span></h2><br><br>
				<input type="password" id="pin" maxlength="20" autocomplete="off" />
				<input type="submit" style="display: none" />
			</form>
		</div>
		<div id="chatcontainer">
			<div id="chatstatements">
				<div id="chatmsg"></div>
			</div>
			<div id="participants">
				<div id="participantsv"></div>
			</div>
			<div id="canvasholder">
				<canvas id="canvas"></canvas>
			</div>
		</div>
		<canvas id="canvas2"></canvas>
		<img id="sprite" src="./img/berlin.png"></img>
		<div id="category">
			<img id="create" src="./img/admin.png" title="Create room"></img>&nbsp&nbsp&nbsp
			<img id="join" src="./img/member.png" title="Join room"></img>
		</div>
		<script src="./js/pixel.js"></script>
		<script>
			var socket=io();
			var nickmsg;
			var getpinCalled = 0;
			var prevsender = "";
			var chat;

			$("#nickform").submit(function() {
				socket.emit("nickAuth",$("#nick").val(),function(data) {
					document.getElementById("nickmsg").innerHTML = data.msg;
					$("#nick").val("");
					if(data.isValid) {
						$("#nickform").hide();

						var qrcode = new QRCode("qr", {
   	 						text: data.qrgenkey,
    						width: 256,
    						height: 256,
    						correctLevel : QRCode.CorrectLevel.H
						});
						//document.getElementById("qr").title = "";
						//document.body.background = "white";
						document.getElementById("create").addEventListener("click",adminimg);
						document.getElementById("join").addEventListener("click",memberimg);
						$("#category").show();
						//$("#qrcontainer").show();
						//$("#joinchatroom").show();
						//$("#pin").focus();
					}
				});
				return false;
			});

			function adminimg() {
				document.body.style.backgroundColor = "white";
				$("#category").hide();
				$("#qrcontainer").show();
				document.getElementById("create").removeEventListener("click",adminimg);
                document.getElementById("join").removeEventListener("click",memberimg);
			}

			function memberimg() {
                //document.body.background = "white";
                $("#category").hide();
                $("#joinchatroom").show();
                $("#pin").focus();
                document.getElementById("create").removeEventListener("click",adminimg);
                document.getElementById("join").removeEventListener("click",memberimg);
            }

			socket.on("session auth done",function() {
				document.body.style.backgroundColor = "black";
				$("#qrcontainer").hide();
				$("#chatcontainer").show();
				$("#canvas").show();
				setInterval(render,17);
			});		
		
			$("#joinpinform").submit(function() {
				socket.emit("join group",parseInt($("#pin").val()),function(data) {
					$("#pin").val("");
					if(data.isValid) {
						$("#joinchatroom").hide();
						$("#chatcontainer").show();
						$("#canvas").show();
						setInterval(render,17);
					} else {
						document.getElementById("pinmsg").innerHTML = "Sorry! Wrong Key!";
					}
				});
				return false;
			});

			socket.on("message receive",function(data) {
				if(!data.keyreleased) {
					var temp = document.getElementById("chatmsg").innerHTML;
					key	= data.message;
					if(prevsender != data.sender) {
						prevsender = data.sender;
						chat = ((temp)?"<br>":"")+data.sender+": "+String.fromCharCode(data.message);
					} else {
						chat = String.fromCharCode(data.message);
					}
					document.getElementById("chatmsg").innerHTML += chat;
				} else {
					key = -1;
				}
			});

			socket.on("member change",function(data) {
				document.getElementById("participantsv").innerHTML = "";
				data.forEach(function(val) {
					document.getElementById("participantsv").innerHTML += val+"<br>";
				});
			});
	
		</script>
	</body>
</html>
