<!doctype html>
<html>
	<head>
		<!-- Pixelove 25 March 2015, 0130 HRS -->
		<title>Pixelove</title>
		<link rel="stylesheet" href="./css/pixel.css">
		<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	</head>
	<body>
		<form id="nickform">
			<span id="nickmsg">Who are you? o.O</span><br><br>
			<input type="text" id="nick" maxlength="10" autocomplete="off" autofocus />
			<input type="submit" style="display: none" />
		</form>
		<canvas id="canvas"></canvas>
		<canvas id="canvas2"></canvas>
		<img id="sprite" src="./img/berlin.png"></img>
		<script src="./js/pixel.js"></script>
		<script>
			var socket=io();
			var nickmsg;

			$("#nickform").submit(function() {
				socket.emit("nickAuth",$("#nick").val(),function(data) {
					document.getElementById("nickmsg").innerHTML = data.msg;
					$("#nick").val("");
					if(data.isValid) {
						$("nickform").hide();
						$("#canvas").show();
					}
				});
				return false;
			});
			
		</script>
	</body>
</html>
