<!doctype html>
<html>
	<head>
		<!-- Pixelove 25 March 2015, 0130 HRS -->
		<title>Pixelove</title>
	</head>
	<body>
		<canvas id="canvas"></canvas>
		<canvas id="canvas2" style="display:none;"></canvas>
		<img id="sprite" src="./img/berlin.png"></img>
		<script src="./js/pixel.js"></script>
		<link rel="stylesheet" href="./css/style.css">
	</body>
</html>
