* {
	padding: 0;
    margin: 0;
	overflow: hidden;
}

body {
	background: black;
}

#canvas {
  	background-color: rgba(0,0,0,1);
}
            
#sprite, canvas, #qrcontainer, #joinchatroom {
  	display: none;
}

#category {
	display: none;
	padding-top: 15%;
	text-align: center;
}

#nick, #pin {
	font-size: 40px;
	text-align: center;
	color: white;
	border: none;
	outline: 0;
	background: rgb(0,0,0);
}

#pin {
	font-size: 60px !important;
}

#nickmsg, #pinmsg {
	color: white;
}

#qrmsg {
	color: black;
}

h2 {
	font-weight: normal;
}

#qrcontainer {
	text-align: center;
	padding-top: 10%;
}

form {
	text-align: center;
	padding-top: 20%;
}
